.task4-form {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.task4-label {
  display: inline-block;
  width: 75px;
}

.task4-input {
  width: 80px;
}

.task4-submit {
  width: 155px;
}

.task4-solution {
  text-align: center;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}
